apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: minecraft-server
  labels:
    run: minecraft-server
spec:
  replicas: 1
  selector:
    matchLabels:
      run: minecraft-server
  template:
    metadata:
      labels:
        run: minecraft-server
    spec:
      containers:
      - name: minecraft-server
        image: tiao/minecraft:ftb-infinity-2.6.0
        ports:
        - containerPort: 25565
        env:
        - name: EULA
          value: "true"
        - name: MOTD
          value: "Louis' Humble Little Server"
        - name: LEVEL_TYPE
          value: "BIOMESOP"
        - name: DIFFICULTY
          value: "hard"
        - name: FORCE_GAMEMODE
          value: "false"
        - name: ICON
          value: "http://icons.iconarchive.com/icons/dakirby309/simply-styled/128/Minecraft-icon.png"
        - name: OPS
          value: "louis_n00b,lb_2600"
        - name: WHITELIST
          value: "Jemmouse"
        - name: SEED
          value: statbadgers
        volumeMounts:
        - name: data-volume
          mountPath: /data
      volumes:
      - name: data-volume
        gcePersistentDisk:
          pdName: minecraft-disk
          fsType: ext4
